# Assignment 4

In [1]:
# problem-1: Importind pandas and version
import pandas as pd
print(pd.__version__)

1.0.5

In [2]:
# problem-2: create a series from a numpy array
import numpy as np
import pandas as pd
data_in_array = np.array([45,56,78,95,52,64])
print(type(data_in_array)) # data in numpy array
data_in_series = pd.Series(data_in_array)
print(type(data_in_series))# data in series datatype
print(data_in_series)

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>
0    45
1    56
2    78
3    95
4    52
5    64
dtype: int32

In [3]:
# proble-3 : create a series index into column of a dataframe

import pandas as pd 
  
  
df = pd.DataFrame({'Roll Number': ['20CSE29', '20CSE49', '20CSE36', '20CSE44'], 
                   'Name': ['Amelia', 'Sam', 'Dean', 'Jessica'], 
                   'Marks In Percentage': [97, 90, 70, 82], 
                   'Grade': ['A', 'A', 'C', 'B'], 
                   'Subject': ['Physics', 'Physics', 'Physics', 'Physics']}) 

  
# Printing the dataframe 
df['index'] = df.index 
df

  Roll Number     Name  Marks In Percentage Grade  Subject  index
0     20CSE29   Amelia                   97     A  Physics      0
1     20CSE49      Sam                   90     A  Physics      1
2     20CSE36     Dean                   70     C  Physics      2
3     20CSE44  Jessica                   82     B  Physics      3

In [4]:
#  code to list all the datasets available in seaborn library.
# Load the 'mpg' dataset
import seaborn as sns
print(sns.get_dataset_names())

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py:384: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 384 of the file C:\ProgramData\Anaconda3\lib\site-packages\seaborn\utils.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  gh_list = BeautifulSoup(http)

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [5]:
mpg_data = sns.load_dataset('mpg')

In [6]:
mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [7]:
# To find the which country origin is part of this dataset
mpg_data['origin'].value_counts()

usa       249
japan      79
europe     70
Name: origin, dtype: int64

In [8]:
print('The origin country which are part of this data_set are:USA,JAPAN AND EUROPE')

The origin country which are part of this data_set are:USA,JAPAN AND EUROPE

In [9]:
# problem 6: part of dataframe belongig to usa
usa_origin = mpg_data.loc[mpg_data['origin']=='usa']

In [10]:
print(usa_origin.head)

<bound method NDFrame.head of       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
392  27.0          4         151.0        90.0    2950          17.3
393  27.0          4         140.0        86.0    2790          15.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model_year origin                       name
0            70    usa  chevrolet chevelle malibu
1            70    usa          buick skylark 320
2            70    usa         plymouth satellite
3            70    usa              amc rebel sst
4            70    usa                ford torino
..          ...    ...                        ...
392          82    usa           chevrolet camaro
393          82    usa            ford mustang gl
395          82    usa              dodge rampage
396          82    usa                ford ranger
397          82    usa                 chevy s-10

[249 rows x 9 columns]>